body {
    margin: 200 200;
    text-align: center;
    background-color: rgb(56, 56, 56);
    text-decoration: solid;
    font-family: Courier, monospace;
    font-size: 50;
}

h1 {
    color:deepskyblue;
    margin: 150 200 0;
    height: 500;
    text-align: center;
}

a:link {
    color: white;
}